#wrapper .header,
#wrapper .sticky-header__content {
  background: #8D150B;
}

#wrapper
  .header_desktop .header__line:nth-child(1) {
    font-size: 30px;
    line-height: 40px;
    color: #F7B85E;
}

#wrapper
  .header_desktop .header__line:nth-child(2) .header__block {
    font-size: 72px;
    line-height: 80px;
    color: #F4F4F4;
}

#wrapper
  .header_desktop .header__line:nth-child(2) .header__block:nth-child(2) {
    font-weight: 800;
}

#wrapper
  .header_mobile .header__line:nth-child(1) {
    font-size: 5.5vw;
    line-height: 6vw;
    margin-bottom: 1rem;
    color: #F7B85E;
}

#wrapper
  .header_mobile .header__line:nth-child(2) {
    font-size: 10vw;
    line-height: 11vw;
    color: #F4F4F4;
}

#wrapper
  .fact__title {
    background: #5C2722;
    padding: .5rem;
}

#wrapper
  .fact__card {
    border-top: none;
}

#wrapper .page-content__actors,
#wrapper .actors-panel,
#wrapper .timeline-panel {
  background: #FAFAFA;
}

@media screen and (max-width: 920px) {
  #wrapper .page-content__intro {
    background: #FFFFFF;    
  }

  #wrapper .page-content__intro .introduction-paragraph {
    color: #212121;
    margin-top: 2rem;
  }
}

#wrapper .sticky-header__content {
  font-size: 16px;
  line-height: 24px;
}

#wrapper .sticky-header__content > img {
  display: none;
}

#wrapper .fact.fact_important .fact__card {
  border-color: #F7B95D;
}

#wrapper .fact.fact_important .fact__title {
  background: #F7B95D;
  color: #212121;
}

#wrapper .timeline-panel__event_important {
  background: rgba(33, 33, 33, .4);
}

#wrapper .actor-thumb__picture {
  opacity: 1;
}

#wrapper .actor-thumb__hover-name-wrapper {
  bottom: unset;
  top: 3.5rem;
}

#wrapper .actor-thumb__picture {
  width: 6rem;
  height: 6rem;
}

#wrapper .page-content__bios {
  z-index: 800;
}


@media screen and (max-width: 920px) {
  #wrapper .timeline-panel {
    background: #212121;
  }
}





