#wrapper .header,
#wrapper .sticky-header__content {
  background: #8D150B;
}

#wrapper
  .header_desktop .header__line:nth-child(1) {
    font-size: 30px;
    line-height: 40px;
    color: #F7B85E;
}

#wrapper
  .header_desktop .header__line:nth-child(2) .header__block {
    font-size: 72px;
    line-height: 80px;
    color: #F4F4F4;
}

#wrapper
  .header_desktop .header__line:nth-child(2) .header__block:nth-child(2) {
    font-weight: 800;
}

#wrapper
  .header_mobile .header__line:nth-child(1) {
    font-size: 9vw;
    line-height: 10vw;
    color: #F7B85E;
}

#wrapper
  .header_mobile .header__line:nth-child(2) {
    font-size: 23.5vw;
    line-height: 22vw;
    color: #F4F4F4;
}

#wrapper
  .header_mobile .header__line:nth-child(3) {
    font-size: 20vw;
    line-height: 22vw;
    font-weight: 800;
    color: #F4F4F4;
}

#wrapper
  .fact__title {
    background: #5C2722;
    padding: .5rem;
}

#wrapper
  .fact__card {
    border-top: none;
}

#wrapper .page-content__actors,
#wrapper .actors-panel,
#wrapper .timeline-panel {
  background: #FAFAFA;
}
