body { box-sizing: border-box; }

/* [WIP] Prefix all classes with #wrapper */

/*
 *  
 *  APP STRUCTURE
 *
 *  #wrapper
 *    .sticky-header
 *    .header.header_desktop
 *    .header.header_mobile
 *    .page-content
 *      .page-content__intro
 *        .introduction-paragraph
 *      .page-content__actors
 *        .actors-panel
 *          .actors-panel__actors-list
 *            .actor-thumb
 *              .actor-bio
 *      .page-content__facts
 *        .facts-panel
 *          .fact
 *      .page-content__timeline
 *
 */

#wrapper * { box-sizing: border-box; }

/*
 *
 *  Sticky header
 *
 */

.sticky-header {
  position: relative;
  z-index: 8;
}

.sticky-header__content {
  display: flex;
  position: fixed;
  width: 100%;
  height: 48px;
  top: 65px;
  justify-content: space-between;
  align-items: center;
  padding: 4px 16px;
  background: #212121;

  font-family: 'Libe-Sans', Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 40px;
  font-weight: 200;
  letter-spacing: 0.03em;
  font-stretch: semi-condensed;
  text-transform: uppercase;
  color: #F4F4F4;
}

@media screen and (max-width: 920px) {
  .sticky-header__content {
    top: 51px;
  }
}

/*
 *
 *  Header
 *
 */

.header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 24px;
  background: #212121;
  z-index: 9;
  position: relative;
}

.header h1 {
  margin: 0;
}

.header__line,
.header__block {
  font-family: 'Libe-Sans', Helvetica, Arial, sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-stretch: semi-condensed;
  text-transform: uppercase;
  color: #F4F4F4;
}

.header__line {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-shrink: 0;
  flex-grow: 0;
}

.header__block +
.header__block::before {
  content: " ";
}

@media screen and (max-width: 920px) {
  .header_desktop {
    display: none;
  }  
}

@media screen and (min-width: 921px) {
  .header_mobile {
    display: none;
  }  
}

/*
 *
 *  Page content
 *
 */

.page-content {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-areas: 
    "actors introduction timeline"
    "actors facts timeline";
}

.page-content__intro,
.page-content__actors,
.page-content__facts,
.page-content__timeline {
  padding: 32px;
}

.page-content__intro,
.page-content__actors,
.page-content__timeline {
  padding-top: 40px;
}

.page-content__intro {
  grid-area: introduction;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 4;
}

.page-content__actors {
  grid-area: actors;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: #EEE;
  position: relative;
  z-index: 5;
}

.page-content__facts {
  grid-area: facts;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.page-content__timeline {
  grid-area: timeline;
  z-index: 3;
}

.page-content__bios {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 32px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(33, 33, 33, 0.8);
  z-index: 10;
}

.page-content__bios
  .bios-panel {
    width: 100%;
    max-width: 480px;
}

.page-content__actors > *,
.page-content__timeline > * {
  position: -webkit-sticky;
  position: sticky;
  top: 153px;
}

@media screen and (max-width: 920px) {
  .page-content {
    grid-template-columns: 100%;
    grid-template-areas: 
      "introduction"
      "actors"
      "facts"
      "timeline";
  }

  .page-content__intro {
    padding-top: 8px;
    padding-bottom: 40px;
    background: #212121;
  }

  .page-content__actors {
    flex-wrap: wrap;
    background: #FFFFFF;
  }

  .page-content__actors
    .actor-thumb_bio-open
      .actor-thumb__bio {
        display: none;
  }

  .page-content__intro
    .introduction-paragraph {
      color: #FAFAFA;
  }

  .page-content__timeline {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .page-content__bios_visible {
    display: flex;
  }

  .page-content__actors > *,
  .page-content__timeline > * {
    position: unset;
  }
}

/*
 *
 *  Introduction paragraph
 *
 */

.introduction-paragraph {
  font-family: Synthese, Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0;
  font-stretch: normal;
  text-transform: none;
  color: #212121;
  text-align: center;
  max-width: 544px;
}

@media screen and (max-width: 920px) {
  .introduction-paragraph {
    max-width: unset;
    width: 80vw;
  }
}

@media screen and (max-width: 640px) {
  .introduction-paragraph {
    font-size: 16px;
    line-height: 20px;
    max-width: 544px;
  }
}

/*
 *
 *  Actors panel
 *
 */

.actors-panel {
  width: 100%;
  max-width: calc(5 * (64px + 16px));
}

.actors-panel
  .actor-thumb {
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 16px;
}

.actors-panel__actors-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.actors-panel__explainer {
  display: none;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.actors-panel__explainer img {
  width: 80px;
  height: 16px;
  margin: 0 16px;
}

.actors-panel__explainer span {
  font-family: 'Synthese', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0;
  font-stretch: normal;
  text-transform: none;
  color: #808080;
  text-align: center;
}

.actors-panel__title {
  margin: 0;
  margin-bottom: 16px;
  display: block;
  width: 100%;
  font-family: 'Libe-Sans', Helvetica, Arial, sans-serif;
  font-size: 28px;
  line-height: 40px;
  font-weight: 600;
  letter-spacing: 0;
  font-stretch: semi-condensed;
  text-transform: uppercase;
  color: #212121;
  text-decoration: underline;
}

.actors-panel__role-label {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 16px;
  font-family: Synthese, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0;
  font-stretch: normal;
  text-transform: none;
  color: #808080;
}

.actors-panel__role-label:nth-child(1) {
  margin-top: 0;
}

@media screen and (max-width: 920px) {
  .actors-panel {
    max-width: 100%;
  }

  .actors-panel__actors-list {
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: scroll;
  }

  .actors-panel__explainer {
    display: flex;
    width: 100%;
  }

  .actors-panel__title {
    display: none;
  }

  .actors-panel
    .actor-thumb {
      margin-left: 16px;
      margin-right: 16px;
  }

  .actors-panel__role-label {
    display: none;
  }
}

/*
 *
 *  Actor thumb
 *
 */

 /* Default variant */

.actor-thumb {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 64px;
}

.actor-thumb__picture {
  width: 64px;
  height: 64px;
  border-radius: 64px;
  background-image: url('../images/landru.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.7;
  transition: opacity 200ms;
  box-shadow: 0 0 10px rgba(33, 33, 33, 0.2);
}

.actor-thumb_accused
  .actor-thumb__picture {
    border: 3px solid #212121;
}

.actor-thumb:hover
  .actor-thumb__picture,
.actor-thumb_bio-open
  .actor-thumb__picture {
  opacity: 1;
}

.actor-thumb__bio {
  display: none;
  flex-wrap: wrap;
  position: absolute;
  width: 352px;
  padding: 16px;
  background: white;
  left: calc(100% + 16px);
  box-shadow: 0 0 10px rgba(33, 33, 33, 0.2);
  cursor: default;
  z-index: 7;
}

.actor-thumb__bio-name {
  font-family: 'Libe-Sans', Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: 0.03em;
  font-stretch: semi-condensed;
  text-transform: none;
  color: #212121;
  flex-grow: 1;
  margin-bottom: 16px;
}

.actor-thumb__bio-close {
  width: 32px;
  height: 32px;
  cursor: pointer;
  border: none;
  background: transparent;
  background-image: url('../assets/close-bio-icon.png');
  flex-grow: 0;
  flex-shrink: 0;
}

.actor-thumb__bio-content {
  font-family: 'Synthese', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0;
  font-stretch: normal;
  text-transform: none;
  color: #212121;
  width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
}

.actor-thumb__filter-facts {
  margin-left: auto;
  width: fit-content;
  margin-top: 16px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: 'Synthese', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: 0;
  font-stretch: normal;
  text-transform: uppercase;
  color: #E3234A;
}

.actor-thumb__hover-name-wrapper {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 140px;
  bottom: 0px;
  left: 48px;
  z-index: 6;
}

.actor-thumb__hover-name {
  font-family: Synthese, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0;
  font-stretch: normal;
  text-transform: none;
  color: #212121;
  background: #FAFAFA;
  padding: 4px 8px;
  display: none;
  text-align: left;
  box-shadow: 0 0 10px rgba(33, 33, 33, 0.2);
}

.actor-thumb:hover
  .actor-thumb__hover-name {
  display: block;
}

.actor-thumb_bio-open:hover
  .actor-thumb__hover-name {
  display: none;
}

.actor-thumb_bio-open
  .actor-thumb__bio {
    display: flex;
}

@media screen and (max-width: 920px) {
  .actor-thumb {
    flex-direction: column;
  }

  .actor-thumb__hover-name-wrapper {
    position: relative;
    width: 136px;
    bottom: unset;
    left: unset;
    display: flex;
    justify-content: center;
  }

  .actor-thumb__hover-name {
    display: block;
    box-shadow: unset;
    background: unset;
    max-width: 100%;
    text-align: center;
  }

  .actor-thumb_bio-open
    .actor-thumb__hover-name {
      font-weight: 600;
  }
}

/* Small variant */

.actor-thumb_small {
  width: 48px;
  height: 48px;
  border-radius: 48px;
}

.actor-thumb_small
  .actor-thumb__picture {
    width: 48px;
    height: 48px;
    border-radius: 48px;
}

.actor-thumb_small
  .actor-thumb__hover-name-wrapper {
    left: 32px;
}

@media screen and (max-width: 920px) {
  .actor-thumb_small
    .actor-thumb__hover-name-wrapper {
      display: none;
  }
}

/* No label variant */

.actor-thumb_no-label
  .actor-thumb__hover-name-wrapper {
    display: none;
}

/*
 *
 *  Bios panel
 *
 */

.bios-panel {
  position: relative;
  padding: 24px;
  background: #EEEEEE;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
}

.bios-panel__bio {
  display: none;
  flex-wrap: wrap;
  width: 100%;
}

.bios-panel__bio_visible {
  display: flex;
}

.bios-panel__close {
  position: absolute;
  top: -40px;
  right: 0;
  width: 32px;
  height: 32px;
  margin-left: auto;
  margin-bottom: 16px;
  cursor: pointer;
  border: none;
  background: transparent;
  background-image: url('../assets/close-bios-panel-icon.png');
  flex-grow: 0;
  flex-shrink: 0;
}

.bios-panel__actors-list {
  display: flex;
  margin-bottom: 24px;
  overflow-x: scroll;
}

.bios-panel__actors-list
  .actor-thumb {
    margin-left: 8px;
    margin-right: 8px;
}

.bios-panel__bio-name {
  font-family: 'Libe-Sans', Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 40px;
  font-weight: 600;
  letter-spacing: 0.03em;
  font-stretch: semi-condensed;
  text-transform: none;
  color: #212121;
  flex-grow: 1;
  margin-bottom: 16px;
  text-align: center;
}

.bios-panel__bio-content {
  font-family: 'Synthese', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0;
  font-stretch: normal;
  text-transform: none;
  color: #212121;
  width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
}

.bios-panel__filter-facts {
  margin-left: auto;
  width: fit-content;
  margin-top: 16px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: 'Synthese', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: 0;
  font-stretch: normal;
  text-transform: uppercase;
  color: #E3234A;
}

/*
 *
 *  Facts panel
 *
 */

.facts-panel {
  background-image: url('../assets/timeline-dots.png');
  background-position: top center;
  background-repeat: repeat-y;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 64px;
  max-width: 600px;
  width: 100%;
  position: relative;
}

.facts-panel__title {
  margin: 0;
  background: white;
  font-family: 'Libe-Sans', Helvetica, Arial, sans-serif;
  font-size: 42px;
  line-height: 64px;
  font-weight: 600;
  letter-spacing: 0;
  font-stretch: semi-condensed;
  text-transform: uppercase;
  color: #212121;
  text-decoration: underline;
}

.facts-panel__filter-panel {
  z-index: 2;
  position: sticky;
  top: 113px;
  height: 56px;
  width: calc(100% + 32px);
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 1px rgba(33, 33, 33, 0.2);
  display: flex;
  align-items: center;
  padding: 16px;
  margin-top: 16px;
  margin-bottom: -32px;
}

.facts-panel__filter-label {
  font-family: 'Synthese', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0;
  font-stretch: normal;
  text-transform: normal;
  color: #808080;
}

.facts-panel__filter-value {
  font-family: 'Synthese', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0;
  font-stretch: normal;
  text-transform: normal;
  color: #212121; 
}

.facts-panel__filter-close {
  margin-left: auto;
  width: fit-content;
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: 'Synthese', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: 0;
  font-stretch: normal;
  text-transform: uppercase;
  color: #E3234A;
}

.facts-panel__year {
  margin-top: 48px;
  margin-bottom: 24px;
  background: white;
  font-family: 'Libe-Sans', Helvetica, Arial, sans-serif;
  font-size: 32px;
  line-height: 48px;
  font-weight: 400;
  letter-spacing: 0;
  font-stretch: normal;
  text-transform: uppercase;
  color: #212121;
}

.facts-panel
  .fact {
    width: 100%;
    margin-bottom: 16px;
}

.facts-panel__end-margin {
  height: 64px;
  width: 100%;
}

.facts-panel__end {
  margin-top: auto;
  background-image: url('../assets/libe-icon.svg');
  background-color: #FFFFFF;
  background-size: cover;
  width: 48px;
  height: 24px;
}

@media screen and (max-width: 920px) {
  .facts-panel__filter-panel {
    width: 100vw;
    top: 99px;
  }
}

/*
 *
 *  Fact
 *
 */

.fact {  
  background: #ffffff;
  position: relative;
}

.fact__date {
  margin-top: 8px;
  margin-bottom: 0;
  background: #ffffff;
  font-family: 'Synthese', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0;
  font-stretch: normal;
  text-transform: uppercase;
  color: #808080;
  text-align: center;
}

.fact__card {
  border: 2px solid #999999;
}

.fact__title {
  background: #999999;
  font-family: 'Libe-Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-stretch: normal;
  text-transform: normal;
  color: #FAFAFA;
  text-align: center;
}

.fact__content {
  padding: 16px;
  font-family: 'Synthese', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0;
  font-stretch: normal;
  text-transform: normal;
  color: #212121;
}

.fact__actors {
  margin: 0 16px 16px 16px;
  display: flex;
  flex-direction: row-reverse;
}

.fact__actors
  .actor-thumb {
    margin-left: 8px;
}
