body { box-sizing: border-box; }

/* [WIP] Prefix all classes with #wrapper */

#wrapper * { box-sizing: border-box; }

/*
 *
 *  Sticky header
 *
 */

.sticky-header {
  display: none;
  justify-content: space-between;
  padding: 4px 16px;
  background: #212121;
}

.sticky-header__block {
  font-family: 'Libe-Sans', Helvetica, Arial, sans-serif;
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 0;
  font-stretch: semi-condensed;
  text-transform: uppercase;
  color: #F4F4F4;
}

/*
 *
 *  Header
 *
 */

.header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 24px;
  background: #212121;
}

.header h1 {
  margin: 0;
}

.header__line,
.header__block {
  font-family: 'Libe-Sans', Helvetica, Arial, sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-stretch: semi-condensed;
  text-transform: uppercase;
  color: #F4F4F4;
}

.header__line {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-shrink: 0;
  flex-grow: 0;
}

.header__block +
.header__block::before {
  content: " ";
}

@media screen and (max-width: 920px) {
  .header_desktop {
    display: none;
  }  
}

@media screen and (min-width: 921px) {
  .header_mobile {
    display: none;
  }  
}

/*
 *
 *  Page content
 *
 */

.page-content {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-areas: 
    "actors introduction timeline"
    "actors facts timeline";
}

.page-content__intro,
.page-content__actors,
.page-content__facts,
.page-content__timeline {
  padding: 32px;
}

.page-content__intro,
.page-content__actors,
.page-content__timeline {
  padding-top: 40px;
}

.page-content__intro {
  grid-area: introduction;
  display: flex;
  justify-content: center;
}

.page-content__actors {
  grid-area: actors;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: #EEE;
}

.page-content__facts {
  grid-area: facts;
  display: flex;
  justify-content: center;
}

.page-content__timeline {
  grid-area: timeline;
}

.page-content__actors > *,
.page-content__timeline > * {
  position: -webkit-sticky;
  position: sticky;
  top: 81px;
}

@media screen and (max-width: 920px) {
  .page-content {
    grid-template-columns: 100%;
    grid-template-areas: 
      "introduction"
      "actors"
      "facts"
      "timeline";
  }

  .page-content__intro {
    padding-top: 8px;
    padding-bottom: 40px;
    background: #212121;
  }

  .page-content__actors {
    flex-wrap: wrap;
    background: #FFFFFF;
  }

  .page-content__intro
    .introduction-paragraph {
      color: #FAFAFA;
    }

  .page-content__timeline {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .page-content__actors > *,
  .page-content__timeline > * {
    position: unset;
  }
}

/*
 *
 *  Introduction paragraph
 *
 */

.introduction-paragraph {
  font-family: Synthese, Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0;
  font-stretch: normal;
  text-transform: none;
  color: #212121;
  text-align: center;
  max-width: 544px;
}

@media screen and (max-width: 920px) {
  .introduction-paragraph {
    max-width: unset;
    width: 80vw;
  }
}

@media screen and (max-width: 640px) {
  .introduction-paragraph {
    font-size: 16px;
    line-height: 20px;
    max-width: 544px;
  }
}

/*
 *
 *  Actors panel
 *
 */

.actors-panel {
  width: 100%;
  max-width: calc(5 * (64px + 16px));
}

.actors-panel
  .actor-thumb {
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 16px;
}

.actors-panel__actors-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.actors-panel__explainer {
  display: none;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.actors-panel__explainer img {
  width: 80px;
  height: 16px;
  margin: 0 16px;
}

.actors-panel__explainer span {
  font-family: 'Synthese', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0;
  font-stretch: normal;
  text-transform: none;
  color: #808080;
  text-align: center;
}

.actors-panel__title {
  margin: 0;
  margin-bottom: 16px;
  display: block;
  width: 100%;
  font-family: 'Libe-Sans', Helvetica, Arial, sans-serif;
  font-size: 28px;
  line-height: 40px;
  font-weight: 600;
  letter-spacing: 0;
  font-stretch: semi-condensed;
  text-transform: uppercase;
  color: #212121;
  text-decoration: underline;
}

.actors-panel__role-label {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 16px;
  font-family: Synthese, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0;
  font-stretch: normal;
  text-transform: none;
  color: #808080;
}

.actors-panel__role-label:nth-child(1) {
  margin-top: 0;
}

.actors-panel__filter-facts-by-active-actor {
  flex-grow: 0;
  width: fit-content;
  align-self: flex-end;
  margin-top: 16px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: 'Synthese', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: 0;
  font-stretch: normal;
  text-transform: uppercase;
  color: #E3234A;
}

@media screen and (max-width: 920px) {
  .actors-panel {
    max-width: 100%;
  }

  .actors-panel__actors-list {
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: scroll;
  }

  .actors-panel__explainer {
    display: flex;
    width: 100%;
  }

  .actors-panel__title {
    display: none;
  }

  .actors-panel
    .actor-thumb {
      margin-left: 16px;
      margin-right: 16px;
  }

  .actors-panel__role-label {
    display: none;
  }
}

/*
 *
 *  Actor thumb
 *
 */

 /* Default variant */

.actor-thumb {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 64px;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
}

.actor-thumb__picture {
  width: 64px;
  height: 64px;
  border-radius: 64px;
  background-image: url('../images/landru.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.7;
  transition: opacity 200ms;
  box-shadow: 0 0 10px rgba(33, 33, 33, 0.1);
}

.actor-thumb_accused
  .actor-thumb__picture {
    border: 3px solid #212121;
}

.actor-thumb:hover
  .actor-thumb__picture,
.actor-thumb_active
  .actor-thumb__picture {
  opacity: 1;
}

.actor-thumb__hover-name-wrapper {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 140px;
  bottom: 0px;
  left: 48px;
  z-index: 1;
}

.actor-thumb__hover-name {
  font-family: Synthese, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0;
  font-stretch: normal;
  text-transform: none;
  color: #212121;
  background: #FAFAFA;
  padding: 4px 8px;
  display: none;
  text-align: left;
  box-shadow: 0 0 10px rgba(33, 33, 33, 0.1);
}

.actor-thumb:hover
  .actor-thumb__hover-name {
  display: block;
}

@media screen and (max-width: 920px) {
  .actor-thumb {
    flex-direction: column;
  }

  .actor-thumb__hover-name-wrapper {
    position: relative;
    width: 136px;
    bottom: unset;
    left: unset;
    display: flex;
    justify-content: center;
  }

  .actor-thumb__hover-name {
    display: block;
    box-shadow: unset;
    background: unset;
    max-width: 100%;
    text-align: center;
  }

  .actor-thumb_active
    .actor-thumb__hover-name {
      font-weight: 600;
  }
}

/* Small variant */

.actor-thumb_small {
  width: 32px;
  height: 32px;
  border-radius: 32px;
}

.actor-thumb_small
  .actor-thumb__picture {
    width: 32px;
    height: 32px;
    border-radius: 32px;
}

.actor-thumb_small
  .actor-thumb__hover-name-wrapper {
    display: none;
}

/*
 *
 *  Actor bio
 *
 */

.actor-bio {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.actor-bio__name {
  font-family: 'Libe-Sans', Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: 0.03em;
  font-stretch: semi-condensed;
  text-transform: none;
  color: #212121;
}

.actor-bio__content {
  font-family: 'Synthese', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0;
  font-stretch: normal;
  text-transform: none;
  color: #212121;
}

@media screen and (max-width: 920px) {
  .actor-bio {
    display: none;
  }
}

/*
 *
 *  Facts panel
 *
 */

.facts-panel {
  background-image: url('../assets/timeline-dots.png');
  background-position: top center;
  background-repeat: repeat-y;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 64px;
  max-width: 600px;
}

.facts-panel__title {
  margin: 0;
  background: white;
  font-family: 'Libe-Sans', Helvetica, Arial, sans-serif;
  font-size: 42px;
  line-height: 64px;
  font-weight: 600;
  letter-spacing: 0;
  font-stretch: semi-condensed;
  text-transform: uppercase;
  color: #212121;
  text-decoration: underline;
}

.facts-panel__year {
  margin-top: 48px;
  margin-bottom: 24px;
  background: white;
  font-family: 'Libe-Sans', Helvetica, Arial, sans-serif;
  font-size: 32px;
  line-height: 48px;
  font-weight: 400;
  letter-spacing: 0;
  font-stretch: normal;
  text-transform: uppercase;
  color: #212121;
}

.facts-panel__date {
  margin-top: 8px;
  margin-bottom: 0;
  background: white;
  font-family: 'Synthese', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0;
  font-stretch: normal;
  text-transform: uppercase;
  color: #808080;
}

.facts-panel
  .fact {
    margin-bottom: 16px;
}

.facts-panel__end-margin {
  height: 64px;
  width: 100%;
}

.facts-panel__end {
  margin-top: auto;
  background-image: url('../assets/libe-icon.svg');
  background-color: #FFFFFF;
  background-size: cover;
  width: 48px;
  height: 24px;
}

/*
 *
 *  Fact
 *
 */

.fact {
  border: 2px solid #999999;
  background: #ffffff;
}

.fact__title {
  background: #999999;
  font-family: 'Libe-Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-stretch: normal;
  text-transform: normal;
  color: #FAFAFA;
  text-align: center;
}

.fact__content {
  padding: 16px;
  margin-top: -2px; /* Compensation of the container's border */
  font-family: 'Synthese', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0;
  font-stretch: normal;
  text-transform: normal;
  color: #212121;
}

.fact__actors {
  margin: 0 16px 16px 16px;
  display: flex;
  flex-direction: row-reverse;
}

.fact__actors
  .actor-thumb {
    margin-left: 8px;
}
